.transparent{  
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    top:0;
    right:0;
}

.above-transparent{
/*    Must change these values so that is in the center*/
    z-index:102;
    position:relative;
}

.middle{
    left:50%;
}

.sound {
    margin-right:1px;
}

.blue {
    background:#70cff4;
    width:100%;
    height:100%;
    position:absolute;
    z-index:100;
    top:0;
    right:0;
}

div.circle {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    -webkit-transition-duration: 2s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    
    -moz-transition-duration: 2s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease-in-out;
    text-align: center;
    background: white;
    color: white;
    border-radius: 100%;
    overflow: hidden;
    z-index:101;
}

div.open {
    top: -1000px;
    left: -1000px;
    width: 4000px;
    height: 4000px;
}

html, body {
    overflow-y:hidden;
    overflow-x:hidden;
    height:100%;
    width:100%;
}

body {
    background-color:#41a8c1;
}

#main-screen {
    background-color:#FFFFFF;
}

.word-area {
    padding-top:20px;
    padding-bottom:20px;
}

.image {
    padding-left:200px;
}

.end {
    position:fixed;
    bottom:0;
    right:45%;
}
#action-instruction {
    padding-left:200px;
}

.header {
    float:left;
}

div {
    font-size:large;
    font-weight:bold;
}

#continue-button {
    top:20%;
    position:absolute;
}

#retry {
    padding:50px; 
}

#next-exercise {
    padding:50px;
}

#start-screen {
    width: 100%;
    text-align: center;
}

#start-instruction {
    padding:50px;
}